gunicorn            == 20.0.4
httpx               == 0.16.1
marshmallow         == 3.10.0
modconfig           == 0.3.3
sentry_sdk          == 0.19.5
uvicorn             == 0.13.3

uvloop              == 0.14.0
httptools           == 0.1.1

pytest              == 6.2.1
pytest-asyncio      == 0.14.0
